.main-footer {
    display: flex;
    flex-direction: column;
    padding-block: 1.5rem;
    border-top: solid 1px #E1E1E1;
    margin-top: var(--header-height);
    .footer-items {
        display: flex;
        justify-content: space-between;
        padding-block: .5rem;
        .left {
            display: flex;
            align-items: center;
            gap: .5rem;
            .language-icon {
                width: .875rem;
                height: auto;
                cursor: pointer;
            }
            span {
                font-size: 0.875rem;
                text-transform: uppercase;
                text-decoration: underline 1px;
                text-underline-offset: 4px;
                cursor: pointer;
                line-height: 1rem;
            }
        }
        .right {
            display: flex;
            align-items: center;
            a {
                font-size: 0.875rem;
                color: black;
                padding: 1rem;
                line-height: 1rem;
            }
        }
    }
    .logo-box {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-block: 1.625rem;
        a {
            font-size: 1.5rem;
            font-weight: 700;
            cursor: pointer;
        }
    }
}
