@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// Extra small devices (phones, less than 576px)
$breakpoint-xs: 0;

// Small devices (phones, 576px and up)
$breakpoint-sm: 375px;

// Medium devices (tablets, 768px and up)
$breakpoint-md: 768px;

// Large devices (desktops, 992px and up)
$breakpoint-lg: 992px;

// Extra large devices (large desktops, 1200px and up)
$breakpoint-xl: 1200px;

// Extra extra large devices (larger desktops, 1400px and up)
$breakpoint-xxl: 1400px;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
    -webkit-user-drag: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    scrollbar-color: #e1e1e1 #fff;
}

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --header-height: 5.5rem;
    --padding-side: 3.33333vw;
    --padding-side-lg: 12vw;
}

body {
    scroll-behavior: smooth;
}

.app {
    position: relative;
    //overflow-x: hidden;
    display: block;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100lvh;
    position: relative;
}

.-hero {
    padding-top: var(--header-height);
}

.-card {
    min-height: 115lvh;
}

.-list {
    justify-content: space-between !important;
    padding-block: 1.5rem !important;
    min-height: 5.5rem;
    h4 {
        font-size: 1.25rem !important;
    }
}

.-fixed {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 50;
    background: #fff;
}

.flex {
    display: flex;
}

.padding-side-sm {
    padding-inline: var(--padding-side);
}

.padding-side-lg {
    padding-inline: var(--padding-side-lg);
}

.arrow {
    position: relative;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    &::before, &::after {
        content: '';
        position: absolute;
        width: 60%;
        height: 1px;
        background-color: black;
        opacity: 0;
        transition: opacity .3s cubic-bezier(.39,.575,.565,1);
    }
    &::before {
        top: 50%;
        transform: rotate(45deg);
        transform-origin: 0 0;
    }
    &::after {
        top: 50%;
        transform: rotate(-45deg);
        transform-origin: 0 100%;
    }
}

span {
    display: flex;
}

.arrow-right {
    rotate: 180deg;
}

.arrow-down {
    rotate: 270deg;
    &::before, &::after {
        opacity: 1;
        left: 33%;
    }
}

.search-icon {
    color: black;
    width: 1.25rem;
    height: auto;
}

.favorite-icon {
    color: black;
    width: 1.25rem;
    height: auto;
    cursor: pointer;
}

.eur-icon {
    width: .9rem;
}

.primary-btn {
    cursor: pointer;
    background-color: #fff;
    border-radius: 100vmax;
    padding: .8125rem 2rem;
    border: 1px solid #000;
    font-size: 1rem;
    letter-spacing: -.025rem;
    line-height: 1.25rem;
    text-align: center;
    transition:
            box-shadow .3s cubic-bezier(.39,.575,.565,1),
            color .3s cubic-bezier(.39,.575,.565,1),
            background .3s cubic-bezier(.39,.575,.565,1);
    &[aria-checked="true"] {
        box-shadow: none;
        &:hover {
            box-shadow: inset 0 0 0 1px #000;
        }
    }
    &[aria-checked="false"] {
        background-color: #000 !important;
        color: #fff;
        &:hover {
            background-color: #fff !important;
            color: #000;
        }
    }
}

@import "home/banner";
@import "home/maincategories";
@import "shop/index";
@import "shop/show";
@import "cart/index";
@import "header";
@import "footer";
@import "mobile-menu";
