.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: opacity ease-in-out 0.2s, visibility 0s 0.2s;
    background: linear-gradient(0deg, rgba(0,0,0,.98) 20%, rgba(0,0,0,.8));
    .side-container {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 30rem;
        background: #ffffff;
        transition: transform ease-in-out 0.2s;
        padding-inline: var(--padding-side);
        padding-top: var(--header-height);
        .options {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            font-size: 1.5rem;
            .opt-box {
                display: flex;
                padding-block: 1rem;
                justify-content: space-between;
                .option {
                    position: relative;
                    display: flex;
                    padding-bottom: 4px;
                    &::after {
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        content: '';
                        width: 0;
                        height: 1px;
                        background-color: black;
                        transition: width ease-in-out 0.1s;
                    }
                    &:hover {
                        &::after {
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            content: '';
                            width: 100%;
                            height: 1px;
                            background-color: black;
                        }
                    }
                }
                .opt-icon {
                    width: 1rem;
                }
            }
        }
    }
    /* Open state */
    &[aria-expanded="true"] {
        .side-container {
            transform: translateX(0);
        }
        visibility: visible;
        opacity: 1;
        transition: opacity ease-in-out 0.2s;
    }

    /* Close state */
    &[aria-expanded="false"] {
        .side-container {
            transform: translateX(-100%);
        }
        opacity: 0;
        transition: opacity ease-in-out 0.2s, visibility 0s 0.2s;
    }
}
